{
    "presets": [
        ["@babel/react", {
            "runtime": "automatic"
        }],
        "@babel/preset-env"
    ],
    "plugins": [],
    "env": {
        "production": {
            "plugins": [
            ]
        }
    }
}
