{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "lodash",
        "syntax-decorators",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-react-jsx"
    ]
}
